@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');
.App {
  min-height:100vh;
  text-align: center;
}
h1{
  color:#68c6fd;
  margin:15px;
  font-family: 'Bigelow Rules', cursive;
  font-size:4.5rem;
}
